<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <table class='user_address'>
    <thead>
      <tr>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.address.to_s %></td>
        <td>
          <% unless @user.address.nil? %>
            <%= link_to 'Edit Address', edit_address_path(@user.address) %>
          <% else %>
            <%= link_to 'Add Address', new_address_path(@user) %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</p>

<p>
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Key</th>
      <th>Value</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @user.user_attributes.each_with_index do |attribute, idx| %>
    <tr>
      <td><%= (idx+1).to_s %></td>
      <td><%= attribute.key %></td>
      <td><%= attribute.value %></td>
      <td><%= link_to 'Edit Pair', edit_user_attribute_path(attribute) %></td>
      <td><%= link_to 'Delete', attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Create Key Value Pair', new_user_attribute_path(@user) %>
</p>
<p>
<%= link_to "Edit #{@user.name}", edit_user_path(@user) %> |
<%= link_to 'Back to Users', users_path %>
</p>